body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#map-container {
    margin: 20px auto;
    width: 80%; /* Adjust width as needed */
}

img {
    width: 100%; /* Makes the image responsive */
    height: auto;
}
